/*
========================================================================================
    miRPlan-nf Config File
========================================================================================
    Main config
----------------------------------------------------------------------------------------
*/

// Main Parameters
params {

  // Input
  input                       = null

  // Boilerplate options
  outdir                      = null
  email                       = null
  email_on_fail               = null
  plaintext_email             = false
  publish_dir_mode             = 'copy'
  help                        = false

  // Execution mode options
  only_preprocessing          = false
  from_counts                 = false
  from_dea                    = false

  // Parameters for QC
  extra_fastqc_args           = '' // COMPROBAR QUE FUNCIONA BIEN
  extra_multiqc_args          = '' // COMPROBAR QUE FUNCIONA BIEN

  // Parameters for Trimming
  trimming_adapters           = "${projectDir}/assets/illumina_adapters.fa"
  trimming_min_len            = 20
  trimming_max_len            = 25
  custom_fastp_args           = null // cambiar a trimming_custom_args?

  // Parameters for validation
  validation_depth            = 500000
  validation_rep              = 2

  // Parameters for filtering
  filtering_db_file           = "/home/antonio/Escritorio/Repositorios_GitHub/miRPlan-nf/data/Additional_info/01-Databases/01-RNAcentral/RNAcenral_viridiplantae_snrna_snorna_rrna_trna.fasta" 
  bowtie_filt_db_ext_args     = "" // COMPROBAR QUE FUNCIONA BIEN
  bowtie_filt_genome_ext_args = ""

  // Parameters for quantification.
  counts_project_matrix        = false
  min_counts                   = 5
  min_samples                  = 3

  // Parameters for DEA.
  ea_p_value                   = 0.7 // CAMBIAAAAAAAAAAAAR A 0.05
  dea_alpha                    = 0.05
  
  // Parameters for annotation
  databases                    = 'mirbase,pmiren,srnaanno'
  mirna_classes                = 'ref_miRNA,iso_5p,iso_3p,iso_add3p,iso_add5p,iso_snv_seed,iso_snv_central_offset,iso_snv_central,iso_snv_central_supp,iso_snv,Mixed,Mixed_shift,Undefined'
  substitutions                = 1
  five_add                     = 0
  three_add                    = 3
  ends_modification            = 4
  annotation_unitas            = false
  bowtie_nti_ext_args          = ""
  counts                       = 0 // miRNote parameter, not used here.
  rpm                          = 0 // miRNote parameter, not used here.

  // Global analysis
  global_matrix              =  false
  global_fields              =  'Species,Treatment'

  // Skip parameters
  skip_fastqc                  = false
  skip_multiqc                 = false
  skip_qc_trim                 = false
  skip_filt_db                 = false
  skip_filt_genome             = false
  skip_annotation              = false
  
  // Generic options
  validate_params              = true
  modules_testdata_base_path   = "${projectDir}/testdata/"
}

validation {
  ignoreParams = ["databases", "databases_local"]
}

// By default, enable Nextflow tracing and save it in the trace directory
// trace {
//   enabled = true
//   overwrite = true
//   file = "${params.tracedir}/execution_trace.txt"
//   fields = "task_id,hash,native_id,name,status,exit,submit,start,complete,duration,realtime,cpus,time,memory,%cpu,peak_rss,peak_vmem,rchar,wchar"
// }
// report {
//   enabled = true
//   overwrite = true
//   file = "${params.tracedir}/execution_report.html"
// }
// timeline {
//   enabled = true
//   overwrite = true
//   file = "${params.tracedir}/execution_timeline.html"
// }
// dag {
//   enabled = true
//   overwrite = true
//   file = "${params.tracedir}/pipeline_dag.svg"
// }

plugins {
  id 'nf-schema@2.0.0'
}

// Include other configs
//includeConfig 'conf/databases.config'
includeConfig 'conf/modules.config'
//includeConfig 'conf/defaults.config'
includeConfig 'conf/genomes.config'
includeConfig 'conf/base.config'

// garnatxa??

// Create run profiles
profiles {
  // test {
  //   includeConfig 'conf/test.config'
  // }
  docker { 
    singularity.enabled = false
    conda.enabled = false
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
  singularity { 
    singularity.enabled = true
    singularity.cacheDir = "${projectDir}/Singularity"
    runOptions = "--bind $PWD"
    conda.enabled = false
    docker.enabled = false
  }
  conda {
    conda.enabled           = true
    docker.enabled          = false
    singularity.enabled     = false
    conda.channels          = ['conda-forge', 'bioconda']
  }
}


manifest {
    name            = 'miRPlan-nf'
    author          = """Antonio González Sánchez"""
    homePage        = 'https://github.com/antoglz/miRPlan-nf'
    description     = """A Nextflow-based pipeline for small RNA differential expression analysis, specifically focusing on miRNAs."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.4'
    version         = '1.0.0'
}
