/*
========================================================================================
    miRPlan-nf Config File
========================================================================================
    Main config
----------------------------------------------------------------------------------------
*/

// Main Parameters
params {

  // Input
  input                       = null

  // Boilerplate options
  outdir                      = null
  email                       = null
  email_on_fail               = null
  plaintext_email             = false
  publish_dir_mode            = 'copy'
  help                        = false
  help_full                   = false
  show_hidden                 = false
  version                     = false

  // Execution mode options
  only_preprocessing          = false
  from_counts                 = false
  from_dea                    = false

  // Parameters for QC
  extra_fastqc_args           = ''
  extra_multiqc_args          = ''

  // Parameters for Trimming
  trimming_adapters           = "${projectDir}/assets/illumina_adapters.fa"
  trimming_min_len            = 20
  trimming_max_len            = 25
  trimming_custom_args        = null

  // Parameters for validation
  validation_depth            = 500000
  validation_rep              = 2

  // Parameters for filtering
  filt_genome                 = false
  filt_db                     = null
  bowtie_filt_db_ext_args     = ""
  bowtie_filt_genome_ext_args = ""

  // Parameters for quantification.
  counts_project_matrix        = false
  min_counts                   = 5
  min_samples                  = 3

  // Parameters for DEA.
  ea_p_value                   = 0.05
  dea_alpha                    = 0.05
  
  // Parameters for annotation
  databases                    = 'mirbase,pmiren,srnaanno'
  mirna_classes                = 'ref_miRNA,iso_5p,iso_3p,iso_add3p,iso_add5p,iso_snv_seed,iso_snv_central_offset,iso_snv_central,iso_snv_central_supp,iso_snv,Mixed,Mixed_shift,Undefined'
  substitutions                = 1
  five_add                     = 0
  three_add                    = 3
  ends_modification            = 4
  annotation_unitas            = false
  bowtie_nti_ext_args          = ""
  counts                       = 0
  rpm                          = 0

  // Global analysis
  global_matrix                =  false
  global_fields                =  'Species,Treatment'

  // Skip parameters
  skip_fastqc                  = false
  skip_multiqc                 = false
  skip_qc_trim                 = false
  skip_annotation              = false
  
  // Generic options
  validate_params              = true
}

// Include other configs
includeConfig 'conf/garnatxa.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/genomes.config'
includeConfig 'conf/mail.config'
includeConfig 'tests/nextflow.config'

// Profiles
profiles {
  // test {
  //   includeConfig 'conf/test.config'
  // }
  docker { 
    singularity.enabled = false
    conda.enabled = false
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
  singularity { 
    singularity.enabled = true
    singularity.cacheDir = "${projectDir}/Singularity"
    conda.enabled = false
    docker.enabled = false
  }
  conda {
    conda.enabled           = true
    docker.enabled          = false
    singularity.enabled     = false
    conda.channels          = ['conda-forge', 'bioconda']
  }
}

manifest {
    name            = 'miRPlan-nf'
    author          = """Antonio González Sánchez"""
    homePage        = 'https://github.com/antoglz/miRPlan-nf'
    description     = """A Nextflow-based pipeline for small RNA differential expression analysis, specifically focusing on miRNAs."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.4'
    version         = '1.0.0'
}

// By default, enable Nextflow tracing and save it in the trace directory
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
  fields = "task_id,hash,native_id,name,status,exit,submit,start,complete,duration,realtime,cpus,time,memory,%cpu,peak_rss,peak_vmem,rchar,wchar"
}
report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
dag {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

// Nextflow plugins
plugins {
  id 'nf-schema@2.1.1'
}

validation {
  defaultIgnoreParams = ["genomes", "max_memory", "max_cpus", "max_time"]

  help {
    enabled = true
    command = "nextflow run \${manifest.name} -profile <docker/singularity/...> --input samplesheet.csv --outdir <OUTDIR>"
    fullParameter = "help_full"
    showHiddenParameter = "show_hidden"

    beforeText = """
-\033[2m------------------------------------------------------------\033[0m-
\033[38;2;156;140;252m           _ ____  ____  _                    \033[38;2;52;188;188m           __ \033[0m
\033[38;2;156;140;252m _ __ ___ (_)  _ \\|  _ \\| | __ _ _ __       \033[38;2;52;188;188m      _ __  / _|\033[0m
\033[38;2;156;140;252m| '_ ` _ \\| | |_) | |_) | |/ _` | '_ \\ \033[38;2;52;188;188m  _____  \033[38;2;52;188;188m | '_ \\| |_ \033[0m
\033[38;2;156;140;252m| | | | | | |  _ <|  __/| | (_| | | | |\033[38;2;52;188;188m |_____| \033[38;2;52;188;188m | | | |  _|\033[0m
\033[38;2;156;140;252m|_| |_| |_|_|_| \\_\\_|   |_|\\__,_|_| |_|     \033[38;2;52;188;188m     |_| |_|_|  \033[0m

\033[0;2m                       Version: ${manifest.version}\033[0m
-\033[2m------------------------------------------------------------\033[0m-     

"""
    afterText = """
* miRPlan GitHub repository:
    https://github.com/antoglz/miRPlan-nf

* Software dependencies:
    https://github.com/antoglz/miRPlan-nf/blob/master/CITATIONS.md
"""
  }
  summary {
    beforeText = validation.help.beforeText
    afterText = validation.help.afterText
  }
}
