/*
========================================================================================
    miRdeX-nf Config File
========================================================================================
    Main config
----------------------------------------------------------------------------------------
*/

// Main Parameters
params {

  // Input
  input                           = null

  // Boilerplate options
  outdir                          = null
  email                           = null
  email_on_fail                   = null
  plaintext_email                 = false
  publish_dir_mode                = 'copy'
  help                            = false
  help_full                       = false
  show_hidden                     = false
  version                         = false
  custom_config                   = null

  // Execution mode options
  only_preprocessing              = false
  only_preprocessing_and_counts   = false
  from_counts                     = false

  // Parameters for QC
  extra_fastqc_args               = ''
  extra_multiqc_args              = ''

  // Parameters for Trimming
  trimming_adapters               = "${projectDir}/assets/illumina_adapters.fa"
  trimming_min_len                = 20
  trimming_max_len                = 25
  trimming_custom_args            = null

  // Parameters for validation
  validation_depth                = 500000
  validation_rep                  = 2

  // Parameters for filtering
  filt_genome                     = false
  filt_db                         = null
  bowtie_filt_db_ext_args         = ""
  bowtie_filt_genome_ext_args     = ""

  // Parameters for quantification.
  counts_not_memory               = false
  min_counts                      = 5
  min_samples                     = 3
  calculate_rpm                   = false

  // Parameters for DEA.
  ea_p_value                      = 0.05
  dea_alpha                       = 0.05
  log2fc_threshold                = 0
  
  // Parameters for annotation
  databases                       = 'mirbase,pmiren,srnaanno'
  reuse_dbs                       = false
  mirbase                         = "${params.outdir}/00-Additional_data/01-Databases/01-Mod_databases/miRBase"
  srnaanno                        = "${params.outdir}/00-Additional_data/01-Databases/01-Mod_databases/sRNAanno"
  pmiren                          = "${params.outdir}/00-Additional_data/01-Databases/01-Mod_databases/PmiREN"
  species_ids                     = "${params.outdir}/00-Additional_data/01-Databases/species_ids.csv"
  mirna_classes                   = 'ref_miRNA,iso_5p,iso_3p,iso_add3p,iso_add5p,iso_snv_seed,iso_snv_central_offset,iso_snv_central,iso_snv_central_supp,iso_snv,Mixed,Mixed_shift,Undefined'
  substitutions                   = 1
  five_add                        = 0
  three_add                       = 3
  ends_modification               = 4
  annotation_unitas               = false
  bowtie_nti_ext_args             = ""
  min_rpm_filt                    = 0
  min_relative_abundance_filt     = 0.01
  min_samples_filt                = 2

  // Global analysis
  global_matrix                   =  false
  global_fields                   =  'Species,Treatment,Level,Time,Cultivar,Tissue,Stage,Genotype'

  // Skip parameters
  skip_fastqc                     = false
  skip_multiqc                    = false
  skip_qc_trim                    = false
  skip_trimming                   = false  
  skip_annotation                 = false
  
  // Generic options
  validate_params                 = true
}

// Include other configs
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/genomes.config'
//includeConfig 'conf/mail.config'
includeConfig 'tests/nextflow.config'
includeConfig params.custom_config ?: '/dev/null'

// Profiles
profiles {
  // test {
  //   includeConfig 'conf/test.config'
  // }
  arm {
      docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
  }
  docker { 
    singularity.enabled = false
    conda.enabled = false
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
  singularity { 
    singularity.enabled = true
    singularity.cacheDir = "${projectDir}/Singularity"
    conda.enabled = false
    docker.enabled = false
  }
  conda {
    conda.enabled           = true
    docker.enabled          = false
    singularity.enabled     = false
    conda.channels          = ['conda-forge', 'bioconda']
  }
}

manifest {
    name            = 'miRdeX-nf'
    author          = """Antonio González Sánchez"""
    homePage        = 'https://github.com/antoglz/miRdeX-nf'
    description     = """A Nextflow-based pipeline for small RNA differential expression analysis, specifically focusing on miRNAs."""
    mainScript      = 'main.nf'
    nextflowVersion = '>=26.04.0'
    version         = '1.0.0'
}

// By default, enable Nextflow tracing and save it in the trace directory
trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/09-Workflow_report/execution_trace.txt"
  fields = "task_id,hash,native_id,name,status,exit,submit,start,complete,duration,realtime,cpus,time,memory,%cpu,peak_rss,peak_vmem,rchar,wchar"
}
report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/09-Workflow_report/execution_report.html"
}
timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/09-Workflow_report/execution_timeline.html"
}
dag {
  enabled = true
  overwrite = true
  file = "${params.outdir}/09-Workflow_report/pipeline_dag.html"
}

// Nextflow plugins
plugins {
  id 'nf-schema@2.7.2'
}

validation {
  defaultIgnoreParams = ["genomes", "max_memory", "max_cpus", "max_time"]

  help {
    enabled = true
    command = "nextflow run \${manifest.name} -profile <docker/singularity/...> --input samplesheet.csv --outdir <OUTDIR>"
    fullParameter = "help_full"
    showHiddenParameter = "show_hidden"

    beforeText = """
-\033[2m------------------------------------------------------------\033[0m-
\033[38;2;52;188;188m             _ ____     _     \033[38;2;156;140;252m__  __\033[0m     \033[38;2;52;188;188m             __ \033[0m
\033[38;2;52;188;188m   _ __ ___ (_)  _ \\ __| | ___\033[38;2;156;140;252m\\ \\/ /\033[0m  \033[38;2;52;188;188m         _ __  / _| \033[0m
\033[38;2;52;188;188m  | '_ ` _ \\| | |_) / _` |/ _ \\\033[38;2;156;140;252m\\  /\033[0m \033[38;2;52;188;188m  _____  \033[38;2;52;188;188m | '_ \\| |_ \033[0m
\033[38;2;52;188;188m  | | | | | | |  _ < (_| |  __/\033[38;2;156;140;252m/  \\\033[0m \033[38;2;52;188;188m |_____| \033[38;2;52;188;188m | | | |  _| \033[0m
\033[38;2;52;188;188m  |_| |_| |_|_|_| \\_\\__,_|\\__/\033[38;2;156;140;252m/_/\\_\\\033[0m  \033[38;2;52;188;188m        |_| |_|_| \033[0m 

\033[0;2m                       Version: 1.0.0\033[0m
-\033[2m------------------------------------------------------------\033[0m-


"""
    afterText = """
* miRdeX-nf GitHub repository:
    https://github.com/antoglz/miRdeX-nf

* Software dependencies:
    https://github.com/antoglz/miRdeX-nf/blob/master/CITATIONS.md
"""
  }
  summary {
    beforeText = """
-\033[2m------------------------------------------------------------\033[0m-
\033[38;2;52;188;188m             _ ____     _     \033[38;2;156;140;252m__  __\033[0m     \033[38;2;52;188;188m             __ \033[0m
\033[38;2;52;188;188m   _ __ ___ (_)  _ \\ __| | ___\033[38;2;156;140;252m\\ \\/ /\033[0m  \033[38;2;52;188;188m         _ __  / _| \033[0m
\033[38;2;52;188;188m  | '_ ` _ \\| | |_) / _` |/ _ \\\033[38;2;156;140;252m\\  /\033[0m \033[38;2;52;188;188m  _____  \033[38;2;52;188;188m | '_ \\| |_ \033[0m
\033[38;2;52;188;188m  | | | | | | |  _ < (_| |  __/\033[38;2;156;140;252m/  \\\033[0m \033[38;2;52;188;188m |_____| \033[38;2;52;188;188m | | | |  _| \033[0m
\033[38;2;52;188;188m  |_| |_| |_|_|_| \\_\\__,_|\\__/\033[38;2;156;140;252m/_/\\_\\\033[0m  \033[38;2;52;188;188m        |_| |_|_| \033[0m 

\033[0;2m                       Version: 1.0.0\033[0m
-\033[2m------------------------------------------------------------\033[0m-


"""
    afterText = """
* miRdeX-nf GitHub repository:
    https://github.com/antoglz/miRdeX-nf

* Software dependencies:
    https://github.com/antoglz/miRdeX-nf/blob/master/CITATIONS.md
"""
  }
}                                        
