config {

    // nf-test directory to create temporary files for the tests
    testsDir "."
    
    // nf-test directory used to create temporary files for each test
    workDir ".nf-test"
    
    // Location of an optional nextflow.config file specific for executing pipeline tests
    configFile "tests/nextflow.config"
    
    profile ""

    //load the necessary plugins
    // plugins {
    //     load "nft-bam@0.4.0"
    //     load "nft-utils@0.0.3"
    // }

}
