/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path = '/home/antonio/Escritorio/Repositorios_GitHub/miRPlan-nf/testdata/'
}
