/*
  -------------------------------------------------
  miRPlan-nf base config file
  -------------------------------------------------
  Base configuration file.
*/


process {

  // Memory and time increases with the number of retrys
  // Trimming (default)
  cpus    = { check_max( 2      * task.attempt, 'cpus'      ) }
  memory  = { check_max( 2.GB   * task.attempt, 'memory'    ) }
  time    = { check_max( 30.m   * task.attempt, 'time'      ) }

  errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 2 // 2 attempts
  maxErrors = '-1' // no limit

  // Process-specific resource requirements
  withName:CUSTOM_SRATOOLSNCBISETTINGS {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 1.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 5.m     * task.attempt, 'time'    ) }
  }
  withName:SRATOOLS_PREFETCH {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 5.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 6.h     * task.attempt, 'time'    ) }
  }
  withName:SRATOOLS_FASTERQDUMP {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 5.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 6.h     * task.attempt, 'time'    ) }
  }
  withName:FASTP {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 6.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 4.h     * task.attempt, 'time'    ) }
  }
  withName:FASTQC {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 1.h     * task.attempt, 'time'    ) }
  }
  withName:MULTIQC {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 1.h     * task.attempt, 'time'    ) }
  }
  withName:SEQKIT_FQ2FA {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 1.d     * task.attempt, 'time'    ) }
  }
  withName:SEQKIT_RMDUP {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 1.d     * task.attempt, 'time'    ) }
  }
  withName:BLAST_MAKEBLASTDB {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 5.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 3.h     * task.attempt, 'time'    ) }
  }
  withName:BLAST_BLASTN {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 1.h     * task.attempt, 'time'    ) }
  }
  withName:ADD_COUNTS_TO_ISOMIRS_DF {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 20.m    * task.attempt, 'time'    ) }
  }
  withName:ADD_SEQUENCES_BLAST {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 20.m    * task.attempt, 'time'    ) }
  }
  withName:ANNOTATE_DEA_RESULTS {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 1.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:BOWTIE_BUILD {
    cpus   = { check_max( 6       * task.attempt, 'cpus'    ) }
    memory = { check_max( 5.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 3.h     * task.attempt, 'time'    ) }
  }
  withName:BOWTIE_ALIGN {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 1.h     * task.attempt, 'time'    ) }
  }
  withName:BUILD_MIRNA_EVENT_MATRIX {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 1.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 10.m    * task.attempt, 'time'    ) }
  }
  withName:COLLAPSE_DB {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 1.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 10.m    * task.attempt, 'time'    ) }
  }
  withName:CONCAT_TSV {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 1.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 10.m    * task.attempt, 'time'    ) }
  }
  withName:CONCAT_UNIQUE_GFF3 {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:COUNTS {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:COUNTS_MATRIX {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 15.d    * task.attempt, 'time'    ) }
  }
  withName:COUNTS_VALIDATION {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 6.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:DIFFEXPANALYSIS {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 6.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 12.h    * task.attempt, 'time'    ) }
  }
  withName:DNA_RNA_CONVERTER {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 20.m    * task.attempt, 'time'    ) }
  }
  withName:DOWNLOAD_DB {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 40.m    * task.attempt, 'time'    ) }
  }
  withName:FILTER_TSV_BY_FASTA {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 3.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:ISOMIRS_MIRNA_CLASSIFICATION {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:ISOMIRS_PRECURSOR_CLASSIFICATION {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:LIBRARIES_VALIDATION {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 1.d     * task.attempt, 'time'    ) }
  }
  withName:MERGE_AND_FILTER_MATURE_PRECURSOR_BLAST {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 20.m    * task.attempt, 'time'    ) }
  }
  withName:RPM {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 2.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 30.m    * task.attempt, 'time'    ) }
  }
  withName:SPLIT_DB_BY_SPECIES {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 1.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 10.m    * task.attempt, 'time'    ) }
  }
  withName:TSV_TO_FASTA {
    cpus   = { check_max( 2       * task.attempt, 'cpus'    ) }
    memory = { check_max( 1.GB    * task.attempt, 'memory'  ) }
    time   = { check_max( 10.m     * task.attempt, 'time'    ) }
  }
}

// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
