/*
  -------------------------------------------------
  miRdeX-nf base config file
  -------------------------------------------------
  Base configuration file.
*/

// Computing max resource levels (for this pipeline)
params {
  max_memory = 16.GB
  max_cpus = 4
  max_time = 30.d
}

process {

  // Resource limits
  resourceLimits = [
    memory: params.max_memory,
    cpus: params.max_cpus,
    time: params.max_time
  ]

  // Memory and time increases with the number of retrys
  // Trimming (default)
  cpus    = { 2      * task.attempt }
  memory  = { 2.GB   * task.attempt }
  time    = { 30.m   * task.attempt }

  errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 2 // 2 attempts
  maxErrors = '-1' // no limit

  // Process-specific resource requirements
  withName:CUSTOM_SRATOOLSNCBISETTINGS {
    cpus   = { 2       * task.attempt }
    memory = { 1.GB    * task.attempt }
    time   = { 5.m     * task.attempt }
  }
  withName:SRATOOLS_PREFETCH {
    cpus   = { 2       * task.attempt }
    memory = { 5.GB    * task.attempt }
    time   = { 6.h     * task.attempt }
  }
  withName:SRATOOLS_FASTERQDUMP {
    cpus   = { 2       * task.attempt }
    memory = { 5.GB    * task.attempt }
    time   = { 6.h     * task.attempt }
  }
  withName:FASTP {
    cpus   = { 2       * task.attempt }
    memory = { 6.GB    * task.attempt }
    time   = { 4.h     * task.attempt }
  }
  withName:FASTQC {
    cpus   = { 2       * task.attempt }
    memory = { 3.GB    * task.attempt }
    time   = { 1.h     * task.attempt }
  }
  withName:MULTIQC {
    cpus   = { 2       * task.attempt }
    memory = { 3.GB    * task.attempt }
    time   = { 1.h     * task.attempt }
  }
  withName:SEQKIT_FQ2FA {
    cpus   = { 2       * task.attempt }
    memory = { 3.GB    * task.attempt }
    time   = { 1.d     * task.attempt }
  }
  withName:SEQKIT_RMDUP {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 1.d     * task.attempt }
  }
  withName:BLAST_MAKEBLASTDB {
    cpus   = { 2       * task.attempt }
    memory = { 5.GB    * task.attempt }
    time   = { 3.h     * task.attempt }
  }
  withName:BLAST_BLASTN {
    cpus   = { 2       * task.attempt }
    memory = { 3.GB    * task.attempt }
    time   = { 1.h     * task.attempt }
  }
  withName:ADD_COUNTS_TO_ISOMIRS_DF {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 20.m    * task.attempt }
  }
  withName:ADD_SEQUENCES_BLAST {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 20.m    * task.attempt }
  }
  withName:ANNOTATE_DEA_RESULTS {
    cpus   = { 2       * task.attempt }
    memory = { 1.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:BOWTIE_BUILD {
    cpus   = { 6       * task.attempt }
    memory = { 5.GB    * task.attempt }
    time   = { 3.h     * task.attempt }
  }
  withName:BOWTIE_ALIGN {
    cpus   = { 2       * task.attempt }
    memory = { 3.GB    * task.attempt }
    time   = { 1.h     * task.attempt }
  }
  withName:BUILD_MIRNA_EVENT_MATRIX {
    cpus   = { 2       * task.attempt }
    memory = { 1.GB    * task.attempt }
    time   = { 10.m    * task.attempt }
  }
  withName:COLLAPSE_DB {
    cpus   = { 2       * task.attempt }
    memory = { 1.GB    * task.attempt }
    time   = { 10.m    * task.attempt }
  }
  withName:CONCAT_TSV {
    cpus   = { 2       * task.attempt }
    memory = { 1.GB    * task.attempt }
    time   = { 10.m    * task.attempt }
  }
  withName:CONCAT_FILTER_UNIQUE_GFF3 {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:COUNTS {
    cpus   = { 3       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:COUNTS_MATRIX {
    cpus   = { 2       * task.attempt }
    memory = { 8.GB    * task.attempt }
    time   = { 15.d    * task.attempt }
  }
  withName:COUNTS_VALIDATION {
    cpus   = { 2       * task.attempt }
    memory = { 6.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:DIFFEXPANALYSIS {
    cpus   = { 2       * task.attempt }
    memory = { 8.GB    * task.attempt }
    time   = { 12.h    * task.attempt }
  }
  withName:DNA_RNA_CONVERTER {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 20.m    * task.attempt }
  }
  withName:DOWNLOAD_DB {
    cpus   = { 2       * task.attempt }
    memory = { 3.GB    * task.attempt }
    time   = { 40.m    * task.attempt }
  }
  withName:FILTER_TSV_BY_FASTA {
    cpus   = { 2       * task.attempt }
    memory = { 3.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:ISOMIRS_MIRNA_CLASSIFICATION {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:ISOMIRS_PRECURSOR_CLASSIFICATION {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:LIBRARIES_VALIDATION {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 1.d     * task.attempt }
  }
  withName:MERGE_AND_FILTER_MATURE_PRECURSOR_BLAST {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 20.m    * task.attempt }
  }
  withName:RPM {
    cpus   = { 2       * task.attempt }
    memory = { 2.GB    * task.attempt }
    time   = { 30.m    * task.attempt }
  }
  withName:SPLIT_DB_BY_SPECIES {
    cpus   = { 2       * task.attempt }
    memory = { 1.GB    * task.attempt }
    time   = { 10.m    * task.attempt }
  }
  withName:TSV_TO_FASTA {
    cpus   = { 2       * task.attempt }
    memory = { 1.GB    * task.attempt }
    time   = { 10.m    * task.attempt }
  }
}