/*
========================================================================================
    Databases Config File
========================================================================================
    Configuration file with the default databases.
----------------------------------------------------------------------------------------
*/

params {
    local {
        annotation {
            mirbase {
                'all' {
                    id = null
                    name = null
                    mature = "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/01-Mod_databases/miRBase/mirbase_mature.fa"
                    hairpin = "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/01-Mod_databases/miRBase/mirbase_hairpin.fa"
                    mature_hairpin =  null
                    plant_id_file = "${projectDir}/assets/Viridiplantae_species_id_mirbase_summary.csv"
                }
            }
            pmiren {
                'all' {
                    id = null
                    name = null
                    mature = "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/01-Mod_databases/PmiREN/pmiren_mature.fa"
                    hairpin = "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/01-Mod_databases/PmiREN/pmiren_hairpin.fa"
                    mature_hairpin =  null
                }
            }
            srnaanno {
                'all' {
                    id = null
                    name = null
                    mature = "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/01-Mod_databases/sRNAanno/srnaanno_mature.fa"
                    hairpin = "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/01-Mod_databases/sRNAanno/srnaanno_hairpin.fa"
                    mature_hairpin =  null
                }
            }
            species_ids = "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/02-Species_ids_databases/species_ids_db.csv"
        }
    }
    download {
        filtering {
            rnacentral_non_miRNAs {
                fasta = "/home/antonio/Escritorio/Repositorios_GitHub/miRPlan-nf/data/Additional_info/01-Databases/01-RNAcentral/RNAcenral_viridiplantae_snrna_snorna_rrna_trna.fasta" 
                date="10-30-2023"
                org_name = "Homo sapiens"
            }
        }
        annotation {
            mirbase {
                'all' {
                    id = null
                    name = null
                    mature = "https://mirbase.org/download/mature.fa"
                    hairpin = "https://mirbase.org/download/hairpin.fa"
                    plant_id_file = "${projectDir}/assets/Viridiplantae_species_id_mirbase_summary.csv"
                    mature_hairpin =  null
                }
            }
            pmiren {
            	'alldir' {
		    id = null
		    name = null
		    dir = "https://www.pmiren.com/ftp-download/"
            	}
            }
            srnaanno {
                'ach' {
                    id = "ach"
                    name = "Actinidia chinensis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Actinidia_chinensis.miRNA.gff3"
                }
                'ata' {
                    id = "ata"
                    name = "Aegilops tauschii"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Aegilops_tauschii.miRNA.gff3"
                }
                'atr' {
                    id = "atr"
                    name = "Amborella trichopoda"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Amborella_trichopoda.miRNA.gff3"
                }
                'aco' {
                    id = "aco"
                    name = "Ananas comosus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Ananas_comosus.miRNA.gff3"
                }
                'amj' {
                    id = "amj"
                    name = "Antirrhinum majus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Antirrhinum_majus.miRNA.gff3"
                }
                'aly' {
                    id = "aly"
                    name = "Arabidopsis lyrata"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Arabidopsis_lyrata.miRNA.gff3"
                }
                'ath' {
                    id = "ath"
                    name = "Arabidopsis thaliana"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Arabidopsis_thaliana.miRNA.gff3"
                }
                'adu' {
                    id = "adu"
                    name = "Arachis duranensis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Arachis_duranensis.miRNA.gff3"
                }
                'aip' {
                    id = "aip"
                    name = "Arachis ipaensis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Arachis_ipaensis.miRNA.gff3"
                }
                'amo' {
                    id = "amo"
                    name = "Arachis monticola"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Arachis_monticola.miRNA.gff3"
                }
                'aof' {
                    id = "aof"
                    name = "Asparagus officinalis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Asparagus_officinalis.miRNA.gff3"
                }
                'afi' {
                    id = "afi"
                    name = "Azolla filiculoides"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Azolla_filiculoides.miRNA.gff3"
                }
                'bvu' {
                    id = "bvu"
                    name = "Beta vulgaris"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Beta_vulgaris.miRNA.gff3"
                }
                'bpe' {
                    id = "bpe"
                    name = "Betula pendula"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Betula_pendula.miRNA.gff3"
                }
                'bnv' {
                    id = "bnv"
                    name = "Boehmeria nivea"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Boehmeria_nivea.miRNA.gff3"
                }
                'bdi' {
                    id = "bdi"
                    name = "Brachypodium distachyon"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Brachypodium_distachyon.miRNA.gff3"
                }
                'bju' {
                    id = "bju"
                    name = "Brassica juncea"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Brassica_juncea.miRNA.gff3"
                }
                'bna' {
                    id = "bna"
                    name = "Brassica napus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Brassica_napus.miRNA.gff3"
                }
                'bni' {
                    id = "bni"
                    name = "Brassica nigra"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Brassica_nigra.miRNA.gff3"
                }
                'bol' {
                    id = "bol"
                    name = "Brassica oleracea"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Brassica_oleracea.miRNA.gff3"
                }
                'bra' {
                    id = "bra"
                    name = "Brassica rapa"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Brassica_rapa.miRNA.gff3"
                }
                'ccj' {
                    id = "ccj"
                    name = "Cajanus cajan"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cajanus_cajan.miRNA.gff3"
                }
                'cas' {
                    id = "cas"
                    name = "Camelina sativa"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Camelina_sativa.miRNA.gff3"
                }
                'csn' {
                    id = "csn"
                    name = "Camellia sinensis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Camellia_sinensis.miRNA.gff3"
                }
                'cru' {
                    id = "cru"
                    name = "Capsella rubella"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Capsella_rubella.miRNA.gff3"
                }
                'can' {
                    id = "can"
                    name = "Capsicum annuum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Capsicum_annuum.miRNA.gff3"
                }
                'cpa' {
                    id = "cpa"
                    name = "Carica papaya"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Carica_papaya.miRNA.gff3"
                }
                'cro' {
                    id = "cro"
                    name = "Catharanthus roseus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Catharanthus_roseus.miRNA.gff3"
                }
                'cam' {
                    id = "cam"
                    name = "Cenchrus americanus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cenchrus_americanus.miRNA.gff3"
                }
                'cfo' {
                    id = "cfo"
                    name = "Cephalotus follicularis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cephalotus_follicularis.miRNA.gff3"
                }
                'cqu' {
                    id = "cqu"
                    name = "Chenopodium quinoa"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Chenopodium_quinoa.miRNA.gff3"
                }
                'cre' {
                    id = "cre"
                    name = "Chlamydomonas reinhardtii"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Chlamydomonas_reinhardtii.miRNA.gff3"
                }
                'cna' {
                    id = "cna"
                    name = "Chrysanthemum nankingense"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Chrysanthemum_nankingense.miRNA.gff3"
                }
                'car' {
                    id = "car"
                    name = "Cicer arietinum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cicer_arietinum.miRNA.gff3"
                }
                'cri' {
                    id = "cri"
                    name = "Cicer reticulatum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cicer_reticulatum.miRNA.gff3"
                }
                'cla' {
                    id = "cla"
                    name = "Citrullus lanatus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Citrullus_lanatus.miRNA.gff3"
                }
                'ccl' {
                    id = "ccl"
                    name = "Citrus clementina"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Citrus_clementina.miRNA.gff3"
                }
                'cgr' {
                    id = "cgr"
                    name = "Citrus grandis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Citrus_grandis.miRNA.gff3"
                }
                'crt' {
                    id = "crt"
                    name = "Citrus reticulata"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Citrus_reticulata.miRNA.gff3"
                }
                'csi' {
                    id = "csi"
                    name = "Citrus sinensis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Citrus_sinensis.miRNA.gff3"
                }
                'cnu' {
                    id = "cnu"
                    name = "Cocos nucifera"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cocos_nucifera.miRNA.gff3"
                }
                'caa' {
                    id = "caa"
                    name = "Coffea arabica"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Coffea_arabica.miRNA.gff3"
                }
                'ccn' {
                    id = "ccn"
                    name = "Coffea canephora"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Coffea_canephora.miRNA.gff3"
                }
                'cme' {
                    id = "cme"
                    name = "Cucumis melo"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cucumis_melo.miRNA.gff3"
                }
                'cst' {
                    id = "cst"
                    name = "Cucumis sativus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cucumis_sativus.miRNA.gff3"
                }
                'cma' {
                    id = "cma"
                    name = "Cucurbita maxima"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cucurbita_maxima.miRNA.gff3"
                }
                'cmo' {
                    id = "cmo"
                    name = "Cucurbita moschata"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cucurbita_moschata.miRNA.gff3"
                }
                'cpe' {
                    id = "cpe"
                    name = "Cucurbita pepo"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cucurbita_pepo.miRNA.gff3"
                }
                'ccm' {
                    id = "ccm"
                    name = "Cuscuta campestris"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Cuscuta_campestris.miRNA.gff3"
                }
                'dca' {
                    id = "dca"
                    name = "Daucus carota"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Daucus_carota.miRNA.gff3"
                }
                'dct' {
                    id = "dct"
                    name = "Dendrobium catenatum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Dendrobium_catenatum.miRNA.gff3"
                }
                'dof' {
                    id = "dof"
                    name = "Dendrobium officinale"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Dendrobium_officinale.miRNA.gff3"
                }
                'dlo' {
                    id = "dlo"
                    name = "Dimocarpus longan"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Dimocarpus_longan.miRNA.gff3"
                }
                'egu' {
                    id = "egu"
                    name = "Elaeis guineensis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Elaeis_guineensis.miRNA.gff3"
                }
                'eco' {
                    id = "eco"
                    name = "Eleusine coracana"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Eleusine_coracana.miRNA.gff3"
                }
                'ete' {
                    id = "ete"
                    name = "Eragrostis tef"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Eragrostis_tef.miRNA.gff3"
                }
                'egr' {
                    id = "egr"
                    name = "Eucalyptus grandis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Eucalyptus_grandis.miRNA.gff3"
                }
                'esa' {
                    id = "esa"
                    name = "Eutrema salsugineum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Eutrema_salsugineum.miRNA.gff3"
                }
                'fes' {
                    id = "fes"
                    name = "Fagopyrum esculentum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Fagopyrum_esculentum.miRNA.gff3"
                }
                'fan' {
                    id = "fan"
                    name = "Fragaria ananassa"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Fragaria_ananassa.miRNA.gff3"
                }
                'fve' {
                    id = "fve"
                    name = "Fragaria vesca"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Fragaria_vesca.miRNA.gff3"
                }
                'gbi' {
                    id = "gbi"
                    name = "Ginkgo biloba"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Ginkgo_biloba.miRNA.gff3"
                }
                'gma' {
                    id = "gma"
                    name = "Glycine max"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Glycine_max.miRNA.gff3"
                }
                'gso' {
                    id = "gso"
                    name = "Glycine soja"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Glycine_soja.miRNA.gff3"
                }
                'gar' {
                    id = "gar"
                    name = "Gossypium arboreum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Gossypium_arboreum.miRNA.gff3"
                }
                'gba' {
                    id = "gba"
                    name = "Gossypium barbadense"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Gossypium_barbadense.miRNA.gff3"
                }
                'ghr' {
                    id = "ghr"
                    name = "Gossypium hirsutum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Gossypium_hirsutum.miRNA.gff3"
                }
                'gra' {
                    id = "gra"
                    name = "Gossypium raimondii"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Gossypium_raimondii.miRNA.gff3"
                }
                'han' {
                    id = "han"
                    name = "Helianthus annuus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Helianthus_annuus.miRNA.gff3"
                }
                'hbr' {
                    id = "hbr"
                    name = "Hevea brasiliensis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Hevea_brasiliensis.miRNA.gff3"
                }
                'hsy' {
                    id = "hsy"
                    name = "Hibiscus syriacus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Hibiscus_syriacus.miRNA.gff3"
                }
                'hvu' {
                    id = "hvu"
                    name = "Hordeum vulgare"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Hordeum_vulgare.miRNA.gff3"
                }
                'hlu' {
                    id = "hlu"
                    name = "Humulus lupulus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Humulus_lupulus.miRNA.gff3"
                }
                'iba' {
                    id = "iba"
                    name = "Ipomoea batatas"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Ipomoea_batatas.miRNA.gff3"
                }
                'jcu' {
                    id = "jcu"
                    name = "Jatropha curcas"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Jatropha_curcas.miRNA.gff3"
                }
                'jre' {
                    id = "jre"
                    name = "Juglans regia"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Juglans_regia.miRNA.gff3"
                }
                'lsa' {
                    id = "lsa"
                    name = "Lactuca sativa"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Lactuca_sativa.miRNA.gff3"
                }
                'lsi' {
                    id = "lsi"
                    name = "Lagenaria siceraria"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Lagenaria_siceraria.miRNA.gff3"
                }
                'lus' {
                    id = "lus"
                    name = "Linum usitatissimum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Linum_usitatissimum.miRNA.gff3"
                }
                'lja' {
                    id = "lja"
                    name = "Lotus japonicus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Lotus_japonicus.miRNA.gff3"
                }
                'lan' {
                    id = "lan"
                    name = "Lupinus angustifolius"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Lupinus_angustifolius.miRNA.gff3"
                }
                'min' {
                    id = "min"
                    name = "Macadamia integrifolia"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Macadamia_integrifolia.miRNA.gff3"
                }
                'mdm' {
                    id = "mdm"
                    name = "Malus domestica"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Malus_domestica.miRNA.gff3"
                }
                'mid' {
                    id = "mid"
                    name = "Mangifera indica"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Mangifera_indica.miRNA.gff3"
                }
                'mes' {
                    id = "mes"
                    name = "Manihot esculenta"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Manihot_esculenta.miRNA.gff3"
                }
                'mpo' {
                    id = "mpo"
                    name = "Marchantia polymorpha"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Marchantia_polymorpha.miRNA.gff3"
                }
                'mtr' {
                    id = "mtr"
                    name = "Medicago truncatula"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Medicago_truncatula.miRNA.gff3"
                }
                'mol' {
                    id = "mol"
                    name = "Moringa oleifera"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Moringa_oleifera.miRNA.gff3"
                }
                'mno' {
                    id = "mno"
                    name = "Morus notabilis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Morus_notabilis.miRNA.gff3"
                }
                'mac' {
                    id = "mac"
                    name = "Musa acuminata"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Musa_acuminata.miRNA.gff3"
                }
                'nnu' {
                    id = "nnu"
                    name = "Nelumbo nucifera"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Nelumbo_nucifera.miRNA.gff3"
                }
                'nat' {
                    id = "nat"
                    name = "Nicotiana attenuata"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Nicotiana_attenuata.miRNA.gff3"
                }
                'nbe' {
                    id = "nbe"
                    name = "Nicotiana benthamiana"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Nicotiana_benthamiana.miRNA.gff3"
                }
                'nta' {
                    id = "nta"
                    name = "Nicotiana tabacum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Nicotiana_tabacum.miRNA.gff3"
                }
                'oeu' {
                    id = "oeu"
                    name = "Olea europaea"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Olea_europaea.miRNA.gff3"
                }
                'oba' {
                    id = "oba"
                    name = "Oryza barthii"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Oryza_barthii.miRNA.gff3"
                }
                'ogl' {
                    id = "ogl"
                    name = "Oryza glaberrima"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Oryza_glaberrima.miRNA.gff3"
                }
                'oni' {
                    id = "oni"
                    name = "Oryza nivara"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Oryza_nivara.miRNA.gff3"
                }
                'oru' {
                    id = "oru"
                    name = "Oryza rufipogon"
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Oryza_rufipogon.miRNA.gff3"
                }
                'osa' {
                    id = "osa"
                    name = "Oryza sativa"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Oryza_sativa.miRNA.gff3"
                }
                'pno' {
                    id = "pno"
                    name = "Panax notoginseng"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Panax_notoginseng.miRNA.gff3"
                }
                'pam' {
                    id = "pam"
                    name = "Persea americana"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Persea_americana.miRNA.gff3"
                }
                'pap' {
                    id = "pap"
                    name = "Phalaenopsis aphrodite"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Phalaenopsis_aphrodite.miRNA.gff3"
                }
                'pvu' {
                    id = "pvu"
                    name = "Phaseolus vulgaris"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Phaseolus_vulgaris.miRNA.gff3"
                }
                'pda' {
                    id = "pda"
                    name = "Phoenix dactylifera"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Phoenix_dactylifera.miRNA.gff3"
                }
                'phe' {
                    id = "phe"
                    name = "Phyllostachys heterocycla"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Phyllostachys_heterocycla.miRNA.gff3"
                }
                'ppt' {
                    id = "ppt"
                    name = "Physcomitrella patens"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Physcomitrella_patens.miRNA.gff3"
                }
                'pab' {
                    id = "pab"
                    name = "Picea abies"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Picea_abies.miRNA.gff3"
                }
                'pni' {
                    id = "pni"
                    name = "Piper nigrum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Piper_nigrum.miRNA.gff3"
                }
                'pca' {
                    id = "pca"
                    name = "Pogostemon cablin"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Pogostemon_cablin.miRNA.gff3"
                }
                'pal' {
                    id = "pal"
                    name = "Populus alba"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Populus_alba.miRNA.gff3"
                }
                'ptr' {
                    id = "ptr"
                    name = "Populus tremula"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Populus_tremula.miRNA.gff3"
                }
                'ptc' {
                    id = "ptc"
                    name = "Populus trichocarpa"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Populus_trichocarpa.miRNA.gff3"
                }
                'pav' {
                    id = "pav"
                    name = "Prunus avium"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Prunus_avium.miRNA.gff3"
                }
                'pdu' {
                    id = "pdu"
                    name = "Prunus dulcis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Prunus_dulcis.miRNA.gff3"
                }
                'ppe' {
                    id = "ppe"
                    name = "Prunus persica"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Prunus_persica.miRNA.gff3"
                }
                'pgr' {
                    id = "pgr"
                    name = "Punica granatum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Punica_granatum.miRNA.gff3"
                }
                'pbr' {
                    id = "pbr"
                    name = "Pyrus bretschneideri"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Pyrus_bretschneideri.miRNA.gff3"
                }
                'rsa' {
                    id = "rsa"
                    name = "Raphanus sativus"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Raphanus_sativus.miRNA.gff3"
                }
                'rco' {
                    id = "rco"
                    name = "Ricinus communis"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Ricinus_communis.miRNA.gff3"
                }
                'smi' {
                    id = "smi"
                    name = "Salvia miltiorrhiza"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Salvia_miltiorrhiza.miRNA.gff3"
                }
                'scc' {
                    id = "scc"
                    name = "Salvinia cucullata"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Salvinia_cucullata.miRNA.gff3"
                }
                'smo' {
                    id = "smo"
                    name = "Selaginella moellendorffii"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Selaginella_moellendorffii.miRNA.gff3"
                }
                'sit' {
                    id = "sit"
                    name = "Setaria italica"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Setaria_italica.miRNA.gff3"
                }
                'sly' {
                    id = "sly"
                    name = "Solanum lycopersicum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Solanum_lycopersicum.miRNA.gff3"
                }
                'sme' {
                    id = "sme"
                    name = "Solanum melongena"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Solanum_melongena.miRNA.gff3"
                }
                'spe' {
                    id = "spe"
                    name = "Solanum pennellii"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Solanum_pennellii.miRNA.gff3"
                }
                'spi' {
                    id = "spi"
                    name = "Solanum pimpinellifolium"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Solanum_pimpinellifolium.miRNA.gff3"
                }
                'stu' {
                    id = "stu"
                    name = "Solanum tuberosum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Solanum_tuberosum.miRNA.gff3"
                }
                'sbi' {
                    id = "sbi"
                    name = "Sorghum bicolor"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Sorghum_bicolor.miRNA.gff3"
                }
                'sol' {
                    id = "sol"
                    name = "Spinacia oleracea"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Spinacia_oleracea.miRNA.gff3"
                }
                'spo' {
                    id = "spo"
                    name = "Spirodela polyrhiza"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Spirodela_polyrhiza.miRNA.gff3"
                }
                'tha' {
                    id = "tha"
                    name = "Tarenaya hassleriana"
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Tarenaya_hassleriana.miRNA.gff3"
                }
                'tcc' {
                    id = "tcc"
                    name = "Theobroma cacao"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Theobroma_cacao.miRNA.gff3"
                }
                'tae' {
                    id = "tae"
                    name = "Triticum aestivum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Triticum_aestivum.miRNA.gff3"
                }
                'tur' {
                    id = "tur"
                    name = "Triticum urartu"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Triticum_urartu.miRNA.gff3"
                }
                'vco' {
                    id = "vco"
                    name = "Vaccinium corymbosum"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Vaccinium_corymbosum.miRNA.gff3"
                }
                'vra' {
                    id = "vra"
                    name = "Vigna radiata"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Vigna_radiata.miRNA.gff3"
                }
                'vvi' {
                    id = "vvi"
                    name = "Vitis vinifera"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Vitis_vinifera.miRNA.gff3"
                }
                'vca' {
                    id = "vca"
                    name = "Volvox carteri"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Volvox_carteri.miRNA.gff3"
                }
                'zma' {
                    id = "zma"
                    name = "Zea mays"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Zea_mays.miRNA.gff3"
                }
                'zju' {
                    id = "zju"
                    name = "Ziziphus jujuba"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Ziziphus_jujuba.miRNA.gff3"
                }
                'zos' {
                    id = "zos"
                    name = "Zostera marina"
                    mature = null
                    hairpin = null
                    mature_hairpin = "http://www.plantsrnas.org/miRNA/Zostera_marina.miRNA.gff3"
                }
            }
        }
    }

}

