
/*
========================================================================================
    Genomes Config File
========================================================================================
    Configuration file with the default genomes.
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'Actinidia chinensis' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/009/663/005/GCA_009663005.1_ASM966300v1/GCA_009663005.1_ASM966300v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Actinidia"
            org_id = "ach"
            source = "NCBI"
        }
        'Amaranthus hypochondriacus' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/753/965/GCA_000753965.2_IBAB_Ahyp_2.0/GCA_000753965.2_IBAB_Ahyp_2.0_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Amaranthus"
            org_id = "amh"
            source = "NCBI"
        }
        'Ammopiptanthus nanus' {
            fasta = "https://s3.ap-northeast-1.wasabisys.com/gigadb-datasets/live/pub/10.5524/100001_101000/100466/final.genome.fasta"
            gtf = null
            gff = null
            date = "06-26-2024"
            org_genus = "Ammopiptanthus"
            org_id = "ana"
            source = "GigaDB"
        }
        'Arabidopsis thaliana' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/735/GCF_000001735.4_TAIR10.1/GCF_000001735.4_TAIR10.1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/735/GCF_000001735.4_TAIR10.1/GCF_000001735.4_TAIR10.1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/735/GCF_000001735.4_TAIR10.1/GCF_000001735.4_TAIR10.1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Arabidopsis"
            org_id = "ath"
            source = "NCBI"
        }
        'Beta vulgaris' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/026/745/355/GCF_026745355.1_EL10.2/GCF_026745355.1_EL10.2_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/026/745/355/GCF_026745355.1_EL10.2/GCF_026745355.1_EL10.2_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/026/745/355/GCF_026745355.1_EL10.2/GCF_026745355.1_EL10.2_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Beta"
            org_id = "bvu"
            source = "NCBI"
        }
        'Brachypodium distachyon' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/505/GCF_000005505.3_Brachypodium_distachyon_v3.0/GCF_000005505.3_Brachypodium_distachyon_v3.0_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/505/GCF_000005505.3_Brachypodium_distachyon_v3.0/GCF_000005505.3_Brachypodium_distachyon_v3.0_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/005/505/GCF_000005505.3_Brachypodium_distachyon_v3.0/GCF_000005505.3_Brachypodium_distachyon_v3.0_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Brachypodium"
            org_id = "bdi"
            source = "NCBI"
        }
        'Brassica napus' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/020/379/485/GCF_020379485.1_Da-Ae/GCF_020379485.1_Da-Ae_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/020/379/485/GCF_020379485.1_Da-Ae/GCF_020379485.1_Da-Ae_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/020/379/485/GCF_020379485.1_Da-Ae/GCF_020379485.1_Da-Ae_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Brassica"
            org_id = "bna"
            source = "NCBI"
        }
        'Brassica oleracea' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Brassica"
            org_id = "bol"
            source = "NCBI"
        }
        'Brassica rapa' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/309/985/GCF_000309985.2_CAAS_Brap_v3.01/GCF_000309985.2_CAAS_Brap_v3.01_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/309/985/GCF_000309985.2_CAAS_Brap_v3.01/GCF_000309985.2_CAAS_Brap_v3.01_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/309/985/GCF_000309985.2_CAAS_Brap_v3.01/GCF_000309985.2_CAAS_Brap_v3.01_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Brassica"
            org_id = "bra"
            source = "NCBI"
        }
        'Capsicum annuum' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Capsicum"
            org_id = "can"
            source = "NCBI"
        }
        'Camellia sinensis' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Camellia"
            org_id = "csn"
            source = "NCBI"
        }
        'Chenopodium quinoa' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/683/475/GCF_001683475.1_ASM168347v1/GCF_001683475.1_ASM168347v1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/683/475/GCF_001683475.1_ASM168347v1/GCF_001683475.1_ASM168347v1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/683/475/GCF_001683475.1_ASM168347v1/GCF_001683475.1_ASM168347v1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Chenopodium"
            org_id = "cqu"
            source = "NCBI"
        }
        'Cicer arietinum' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/331/145/GCF_000331145.1_ASM33114v1/GCF_000331145.1_ASM33114v1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/331/145/GCF_000331145.1_ASM33114v1/GCF_000331145.1_ASM33114v1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/331/145/GCF_000331145.1_ASM33114v1/GCF_000331145.1_ASM33114v1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Cicer"
            org_id = "car"
            source = "NCBI"
        }
        'Citrus junos' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Citrus"
            org_id = "cju"
            source = "NCBI"
        }
        'Citrullus lanatus' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/029/034/555/GCA_029034555.1_KOR._cv.242-1/GCA_029034555.1_KOR._cv.242-1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Citrullus"
            org_id = "cla"
            source = "NCBI"
        }
        'Citrus trifoliata' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/350/135/GCA_018350135.1_ASM1835013v1/GCA_018350135.1_ASM1835013v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Citrus"
            org_id = "ctr"
            source = "NCBI"
        }
        'Coffea canephora' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/036/785/865/GCA_036785865.1_ASM3678586v1/GCA_036785865.1_ASM3678586v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Coffea"
            org_id = "ccn"
            source = "NCBI"
        }
        'Cucumis melo' {
            fasta = "FALTA"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_name = "Cucumis melo"
            org_genus = "Cucumis"
            org_id = "cme"
            source = "FALTA"
        }
        'Cucumis sativus' {
            fasta = "http://cucurbitgenomics.org/v2/ftp/genome/cucumber/Chinese_long/v3/ChineseLong_genome_v3.fa.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_name = "Cucumis sativus"
            org_genus = "Cucumis"
            org_id = "cst"
            source = "CuGenDB"
        }
        'Daucus carota' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/625/215/GCF_001625215.2_DH1_v3.0/GCF_001625215.2_DH1_v3.0_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/625/215/GCF_001625215.2_DH1_v3.0/GCF_001625215.2_DH1_v3.0_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/625/215/GCF_001625215.2_DH1_v3.0/GCF_001625215.2_DH1_v3.0_genomic.gff.gz"
            date = "06-21-2024"
            org_name = "Daucus carota"
            org_genus = "Daucus"
            org_id = "dca"
            source = "NCBI"
        }
        'Elaeis guineensis' {
            fasta = "ASK JULIA"
            gtf = "FALTA"
            gff = "FALTA"
            org_name = "Elaeis guineensis"
            org_genus = "Elaeis"
            org_id = "egu"
            source = "NCBI"
        }
        'Glycine max' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/004/515/GCF_000004515.6_Glycine_max_v4.0/GCF_000004515.6_Glycine_max_v4.0_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/004/515/GCF_000004515.6_Glycine_max_v4.0/GCF_000004515.6_Glycine_max_v4.0_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/004/515/GCF_000004515.6_Glycine_max_v4.0/GCF_000004515.6_Glycine_max_v4.0_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Glycine"
            org_id = "gma"
            source = "NCBI"
        }
        'Gossypium hirsutum' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/007/990/345/GCF_007990345.1_Gossypium_hirsutum_v2.1/GCF_007990345.1_Gossypium_hirsutum_v2.1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/007/990/345/GCF_007990345.1_Gossypium_hirsutum_v2.1/GCF_007990345.1_Gossypium_hirsutum_v2.1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/007/990/345/GCF_007990345.1_Gossypium_hirsutum_v2.1/GCF_007990345.1_Gossypium_hirsutum_v2.1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Gossypium"
            org_id = "ghr"
            source = "NCBI"
        }
        'Hemerocallis fulva' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/007/990/345/GCF_007990345.1_Gossypium_hirsutum_v2.1/GCF_007990345.1_Gossypium_hirsutum_v2.1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/007/990/345/GCF_007990345.1_Gossypium_hirsutum_v2.1/GCF_007990345.1_Gossypium_hirsutum_v2.1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/007/990/345/GCF_007990345.1_Gossypium_hirsutum_v2.1/GCF_007990345.1_Gossypium_hirsutum_v2.1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Hemerocallis"
            org_id = "hfu"
            source = "NCBI"
        }
        'Hemerocallis citrina' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/017/893/485/GCA_017893485.1_ASM1789348v1/GCA_017893485.1_ASM1789348v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Hemerocallis"
            org_id = "???" //COMPROBAR QUE IDENTIFICADOR LE PODEMOS DAR A ESTA ESPECIE. HCI ESTÁ COGIDO. NO ES HEMEROCALLIS FULVA, PORQUE NO ESTÁ
            source = "NCBI"
        }
        'Hordeum vulgare' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/904/849/725/GCF_904849725.1_MorexV3_pseudomolecules_assembly/GCF_904849725.1_MorexV3_pseudomolecules_assembly_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/904/849/725/GCF_904849725.1_MorexV3_pseudomolecules_assembly/GCF_904849725.1_MorexV3_pseudomolecules_assembly_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/904/849/725/GCF_904849725.1_MorexV3_pseudomolecules_assembly/GCF_904849725.1_MorexV3_pseudomolecules_assembly_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Hordeum"
            org_id = "hvu"
            source = "NCBI"
        }
        'Ipomoea batatas' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/002/525/835/GCA_002525835.2_ipoBat4/GCA_002525835.2_ipoBat4_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Ipomoea"
            org_id = "iba"
            source = "NCBI"
        }
        'Jatropha curcas' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/014/843/425/GCF_014843425.1_RJC1_Hi-C/GCF_014843425.1_RJC1_Hi-C_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/014/843/425/GCF_014843425.1_RJC1_Hi-C/GCF_014843425.1_RJC1_Hi-C_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/014/843/425/GCF_014843425.1_RJC1_Hi-C/GCF_014843425.1_RJC1_Hi-C_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Jatropha"
            org_id = "jcu"
            source = "NCBI"
        }
        'Kalanchoe fedtschenkoi' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/002/312/845/GCA_002312845.1_K_fedtschenkoi_M2_v1/GCA_002312845.1_K_fedtschenkoi_M2_v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Kalanchoe"
            org_id = "???" // QUE IDENTIFICADOR UTILIZO?
            source = "NCBI"
        }
        'Lolium perenne' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/019/359/855/GCF_019359855.1_MPB_Lper_Kyuss_1697/GCF_019359855.1_MPB_Lper_Kyuss_1697_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/019/359/855/GCF_019359855.1_MPB_Lper_Kyuss_1697/GCF_019359855.1_MPB_Lper_Kyuss_1697_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/019/359/855/GCF_019359855.1_MPB_Lper_Kyuss_1697/GCF_019359855.1_MPB_Lper_Kyuss_1697_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Lolium"
            org_id = "lpe"
            source = "NCBI"
        }
        'Malus domestica' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/114/115/GCF_002114115.1_ASM211411v1/GCF_002114115.1_ASM211411v1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/114/115/GCF_002114115.1_ASM211411v1/GCF_002114115.1_ASM211411v1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/114/115/GCF_002114115.1_ASM211411v1/GCF_002114115.1_ASM211411v1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Malus"
            org_id = "mdm"
            source = "NCBI"
        }
        'Malus sieversii' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/028/456/135/GCA_028456135.1_Malus_sieversii.altA/GCA_028456135.1_Malus_sieversii.altA_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Malus"
            org_id = "msi"
            source = "NCBI"
        }
        'Medicago ruthenica' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/208/015/GCA_018208015.1_ASM1820801v1/GCA_018208015.1_ASM1820801v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Medicago"
            org_id = "mru"
            source = "NCBI"
        }
        'Medicago sativa' {
            fasta = null
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Medicago"
            org_id = "msa"
            source = "NCBI"
        }
        'Medicago truncatula' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/003/473/485/GCF_003473485.1_MtrunA17r5.0-ANR/GCF_003473485.1_MtrunA17r5.0-ANR_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/003/473/485/GCF_003473485.1_MtrunA17r5.0-ANR/GCF_003473485.1_MtrunA17r5.0-ANR_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/003/473/485/GCF_003473485.1_MtrunA17r5.0-ANR/GCF_003473485.1_MtrunA17r5.0-ANR_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Medicago"
            org_id = "mtr"
            source = "NCBI"
        }
        'Miscanthus sinensis' {
            fasta = "ASK JULIA"
            gtf =  null
            gff = null
            date = "06-21-2024"
            org_genus = "Miscanthus"
            org_id = "msn"
            source = "NCBI"
        }
        'Morus alba' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/012/066/045/GCA_012066045.3_ASM1206604v3/GCA_012066045.3_ASM1206604v3_genomic.fna.gz"
            gtf =  null
            gff = null
            date = "06-21-2024"
            org_genus = "Morus"
            org_id = "mal"
            source = "NCBI"
        }
        'Musa acuminata' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/313/855/GCF_000313855.2_ASM31385v2/GCF_000313855.2_ASM31385v2_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/313/855/GCF_000313855.2_ASM31385v2/GCF_000313855.2_ASM31385v2_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/313/855/GCF_000313855.2_ASM31385v2/GCF_000313855.2_ASM31385v2_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Musa"
            org_id = "mac"
            source = "NCBI"
        }
        'Nicotiana benthamiana' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/034/376/525/GCA_034376525.1_ASM3437652v1/GCA_034376525.1_ASM3437652v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Nicotiana"
            org_id = "nbe"
            source = "NCBI"
        }
        'Nicotiana tabacum' {
            fasta = "NCBI FAIL"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Nicotiana"
            org_id = "nta"
            source = "NCBI"
        }
        'Onobrychis viciifolia' {
            fasta = "CHECK"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Onobrychis"
            org_id = "ovi"
            source = "NCBI"
        }
        'Oryza rufipogon' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/023/541/355/GCA_023541355.1_O._rufipogonIRGC106523RS1/GCA_023541355.1_O._rufipogonIRGC106523RS1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Oryza"
            org_id = "oru"
            source = "NCBI"
        }
        'Oryza sativa' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/433/935/GCF_001433935.1_IRGSP-1.0/GCF_001433935.1_IRGSP-1.0_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/433/935/GCF_001433935.1_IRGSP-1.0/GCF_001433935.1_IRGSP-1.0_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/433/935/GCF_001433935.1_IRGSP-1.0/GCF_001433935.1_IRGSP-1.0_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Oryza"
            org_id = "osa"
            source = "NCBI"
        }
        'Panicum virgatum' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Panicum"
            org_id = "pvi"
            source = "NCBI"
        }
        'Phalaenopsis amabilis' {
            fasta = null
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Phalaenopsis"
            org_id = "paa"
            source = "NCBI"
        }
        'Phyllostachys aureosulcata' {
            fasta = "ASK JULIA"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Phyllostachys"
            org_id = "pau"
            source = "NCBI"
        }
        'Pinus massoniana' {
            fasta = null
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Pinus"
            org_id = "pma"
            source = "NCBI"
        }
        'Pinus pinaster' {
            fasta = null
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Pinus"
            org_id = "ppi"
            source = "NCBI"
        }
        'Pisum sativum' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Pisum"
            org_id = "psa"
            source = "NCBI"
        }
        'Populus alba' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/005/239/225/GCF_005239225.1_ASM523922v1/GCF_005239225.1_ASM523922v1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/005/239/225/GCF_005239225.1_ASM523922v1/GCF_005239225.1_ASM523922v1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/005/239/225/GCF_005239225.1_ASM523922v1/GCF_005239225.1_ASM523922v1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Populus"
            org_id = "pal"
            source = "NCBI"
        }
        'Populus deltoides' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/015/852/605/GCA_015852605.2_ASM1585260v2/GCA_015852605.2_ASM1585260v2_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/015/852/605/GCA_015852605.2_ASM1585260v2/GCA_015852605.2_ASM1585260v2_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/015/852/605/GCA_015852605.2_ASM1585260v2/GCA_015852605.2_ASM1585260v2_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Populus"
            org_id = "pdl"
            source = "NCBI"
        }
        'Raphanus sativus' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Raphanus"
            org_id = "rsa"
            source = "NCBI"
        }
        'Saccharum hybrid cultivar' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/038/087/645/GCA_038087645.1_Saccharum_officinarum_X_spontaneum_var_R570_v2.1/GCA_038087645.1_Saccharum_officinarum_X_spontaneum_var_R570_v2.1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Saccharum"
            org_id = "scu"
            source = "NCBI"
        }
        'Saccharum sp.' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/022/457/205/GCA_022457205.1_ASM2245720v1/GCA_022457205.1_ASM2245720v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Saccharum"
            org_id = "ssp"
            source = "NCBI"
        }
        'Sesamum indicum' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/512/975/GCF_000512975.1_S_indicum_v1.0/GCF_000512975.1_S_indicum_v1.0_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/512/975/GCF_000512975.1_S_indicum_v1.0/GCF_000512975.1_S_indicum_v1.0_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/512/975/GCF_000512975.1_S_indicum_v1.0/GCF_000512975.1_S_indicum_v1.0_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Sesamum"
            org_id = "sin"
            source = "NCBI"
        }
        'Solanum ajanhuiri' {
            fasta = null
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Solanum"
            org_id = "saj"
            source = "NCBI"
        }
        'Solanum lycopersicum' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/188/115/GCF_000188115.5_SL3.1/GCF_000188115.5_SL3.1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/188/115/GCF_000188115.5_SL3.1/GCF_000188115.5_SL3.1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/188/115/GCF_000188115.5_SL3.1/GCF_000188115.5_SL3.1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Solanum"
            org_id = "sly"
            source = "NCBI"
        }
        'Solanum tuberosum' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/226/075/GCF_000226075.1_SolTub_3.0/GCF_000226075.1_SolTub_3.0_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/226/075/GCF_000226075.1_SolTub_3.0/GCF_000226075.1_SolTub_3.0_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/226/075/GCF_000226075.1_SolTub_3.0/GCF_000226075.1_SolTub_3.0_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Solanum"
            org_id = "stu"
            source = "NCBI"
        }
        'Triticum aestivum' {
            fasta = "https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_900519105.1?download=true&gzip=true"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Triticum"
            org_id = "tae"
            source = "NCBI"
        }
        'Triticum turgidum' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/900/231/445/GCA_900231445.1_Svevo.v1/GCA_900231445.1_Svevo.v1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/900/231/445/GCA_900231445.1_Svevo.v1/GCA_900231445.1_Svevo.v1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/900/231/445/GCA_900231445.1_Svevo.v1/GCA_900231445.1_Svevo.v1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Triticum"
            org_id = "ttu"
            source = "NCBI"
        }
        'Vitis riparia' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/004/353/265/GCF_004353265.1_EGFV_Vit.rip_1.0/GCF_004353265.1_EGFV_Vit.rip_1.0_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/004/353/265/GCF_004353265.1_EGFV_Vit.rip_1.0/GCF_004353265.1_EGFV_Vit.rip_1.0_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/004/353/265/GCF_004353265.1_EGFV_Vit.rip_1.0/GCF_004353265.1_EGFV_Vit.rip_1.0_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Vitis"
            org_id = "vri"
            source = "NCBI"
        }
        'Vicia sativa' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/021/764/765/GCA_021764765.1_ASM2176476v1/GCA_021764765.1_ASM2176476v1_genomic.fna.gz"
            gtf = null
            gff = null
            date = "06-21-2024"
            org_genus = "Vicia"
            org_id = "vsa"
            source = "NCBI"
        }
        'Vitis vinifera' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/030/704/535/GCF_030704535.1_ASM3070453v1/GCF_030704535.1_ASM3070453v1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/030/704/535/GCF_030704535.1_ASM3070453v1/GCF_030704535.1_ASM3070453v1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/030/704/535/GCF_030704535.1_ASM3070453v1/GCF_030704535.1_ASM3070453v1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Vitis"
            org_id = "vvi"
            source = "NCBI"
        }
        'Zea mays' {
            fasta = "NCBI FAIL"
            gtf = "NCBI FAIL"
            gff = "NCBI FAIL"
            date = "06-21-2024"
            org_genus = "Zea"
            org_id = "zma"
            source = "NCBI"
        }
        'Ziziphus jujuba' {
            fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/031/755/915/GCF_031755915.1_ASM3175591v1/GCF_031755915.1_ASM3175591v1_genomic.fna.gz"
            gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/031/755/915/GCF_031755915.1_ASM3175591v1/GCF_031755915.1_ASM3175591v1_genomic.gtf.gz"
            gff = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/031/755/915/GCF_031755915.1_ASM3175591v1/GCF_031755915.1_ASM3175591v1_genomic.gff.gz"
            date = "06-21-2024"
            org_genus = "Ziziphus"
            org_id = "zju"
            source = "NCBI"
        }
    }
}
