/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
  withName: DB_ID_RESOLVER {
    publishDir = [
      [
        path: { "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases" },
        mode: 'copy',
        pattern: '01-Mod_databases/miRBase/*.fa'
      ],
      [
        path: { "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases" },
        mode: 'copy',
        pattern: '01-Mod_databases/PmiREN/*.fa'
      ],
      [
        path: { "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases" },
        mode: 'copy',
        pattern: '01-Mod_databases/sRNAanno/*.fa'
      ],
      [
        path: { "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/02-Species_ids_databases" },
        mode: 'copy',
        pattern: 'species_ids_db.csv'
      ]
    ]
  }
  withName: 'CHECK_SPECIES_IDS' {
    publishDir = [
      path: { "${params.outdir}/Additional_info/01-Databases/02-Annotation_databases/02-Species_ids_databases" },
      mode: 'copy',
      overwrite: true,
      pattern: 'species_ids_updated.csv'
    ]
  }
  withName: 'DOWNLOADLIB' {
    publishDir = [
      path: { "${params.outdir}/Libraries/01-Raw/${meta.species}/${meta.project}" },
      mode: 'copy',
      overwrite: true,
      pattern: '*.fastq.gz'
    ]
  }
  withName: 'FASTQC' {
    ext.args = { params.extra_fastqc_args ?: '' }
    memory = '4GB' // Supongo que habra que eliminar esto cuando usemos la memoria que corresponda. DEBE TENER UNA MEMORIA ASIGNADA O DA ERROR.
    publishDir = [
      path: { "${params.outdir}/Quality_control/${meta.type}/01-Fastqc/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'copy',
      overwrite: true,
      pattern: '*.{zip,html}'
    ]
  }
  withName: 'MULTIQC' {
    ext.args = { params.extra_multiqc_args ?: '' }
    publishDir = [
      path: { "${params.outdir}/Quality_control/${meta.type}/02-Multiqc/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'copy',
      overwrite: true,
      pattern: '*.html'
    ]
  }
  withName: 'FASTP' {
    ext.args = {
      params.custom_fastp_args ?:
      "--cut_right " +
      "--cut_right_window_size 4 " +
      "--cut_right_mean_quality 20 " +
      "--cut_front " +
      "--cut_front_window_size 1 " +
      "--cut_front_mean_quality 3 " +
      "--length_required ${params.trimming_min_len} " +
      "--trim_poly_x " +
      "--poly_x_min_len 10 " +
      "--length_limit ${params.trimming_max_len} " +
      "--n_base_limit 0"
    }

    publishDir = [
      path: { "${params.outdir}/Libraries/02-Trimmed/${meta.species}/${meta.project}" },
      mode: 'copy',
      overwrite: true,
      pattern: '*.fastp.fastq.gz'
    ]
  }
  withName: 'BOWTIE_BUILD' {
    publishDir = [
      path: "${params.outdir}/Additional_info/01-Databases/01-Filtering_databases/01-RNA_central",
      mode: 'copy',
      overwrite: true,
      pattern: 'bowtie'
    ]
  }
  withName: BOWTIE_ALIGN {
    ext.args = { params.extra_multiqc_args ?: '-v 0' } // CAMBIAR ESTO PARA QUE POR DEFECTO SEA 0 PERO SE PUEDAN AÑADIR CUSTOM ARGS.
    cpus = 2
    publishDir = [
      [
        path: { "${params.outdir}/Libraries/03-Filtered_libraries/${meta.type}/${meta.species.replaceAll(' ', '_')}/${meta.project}/01-Alignment_out"},
        mode: 'copy',
        overwrite: true,
        pattern: '*.out'
      ],
      [
        path: { "${params.outdir}/Libraries/03-Filtered_libraries/${meta.type}/${meta.species.replaceAll(' ', '_')}/${meta.project}/02-Libraries" },
        mode: 'copy',
        overwrite: true,
        pattern: '*fastq.gz'
      ]
    ]
  }

}
