/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

process {
  withName: 'FASTQC' {
    ext.args = { params.extra_fastqc_args ?: '' }
    memory = '4GB'
    publishDir = [
      path: { "${params.outdir}/01-Libraries/01-FastQC/${meta.type}/01-Fastqc/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'symlink',
      pattern: '*.{zip,html}'
    ]
  }
  withName: 'MULTIQC' {
    ext.args = { params.extra_multiqc_args ?: '' }
    publishDir = [
      path: { "${params.outdir}/01-Libraries/01-FastQC/${meta.type}/02-Multiqc/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'symlink',
      pattern: '*.html'
    ]
  }
  withName: 'FASTP' {
    ext.args = {
      params.trimming_custom_args ?:
      "--cut_right " +
      "--cut_right_window_size 4 " +
      "--cut_right_mean_quality 20 " +
      "--cut_front " +
      "--cut_front_window_size 1 " +
      "--cut_front_mean_quality 3 " +
      "--length_required ${params.trimming_min_len} " +
      "--trim_poly_x " +
      "--poly_x_min_len 10 " +
      "--length_limit ${params.trimming_max_len} " +
      "--n_base_limit 0"
    }
    publishDir = [
      path: { "${params.outdir}/01-Libraries/02-Trimmed/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'symlink',
      pattern: '*.fastp.fastq.gz'
    ]
  }
  withName: 'BOWTIE_BUILD' {
    ext.args = '--large-index'
  }
  withName: 'BOWTIE_ALIGN_DB' {
    ext.ref = 'database'
    ext.args = { params.bowtie_filt_db_ext_args ?: '-v 0' }
    cpus = 2
    publishDir = [
      [
        path: { "${params.outdir}/01-Libraries/03-Filtered/01-Database/${meta.species.replaceAll(' ', '_')}/${meta.project}/01-Alignment_out"},
        mode: 'symlink',
        pattern: '*.out'
      ],
      [
        path: { "${params.outdir}/01-Libraries/03-Filtered/01-Database/${meta.species.replaceAll(' ', '_')}/${meta.project}/02-Libraries" },
        mode: 'symlink',
        pattern: '*fastq.gz'
      ]
    ]
  }
  withName: 'BOWTIE_ALIGN_GENOME' {
    ext.ref = 'genome'
    ext.args = { params.bowtie_filt_genome_ext_args ?: '-v 0' }
    cpus = 2
    publishDir = [
      [
        path: { "${params.outdir}/01-Libraries/03-Filtered/02-Genome/${meta.species.replaceAll(' ', '_')}/${meta.project}/01-Alignment_out"},
        mode: 'symlink',
        pattern: '*.out'
      ],
      [
        path: { "${params.outdir}/01-Libraries/03-Filtered/02-Genome/${meta.species.replaceAll(' ', '_')}/${meta.project}/02-Libraries" },
        mode: 'symlink',
        pattern: '*fastq.gz'
      ]
    ]
  }
  withName: 'COUNTS' {
    publishDir = [
      path: { "${params.outdir}/02-Results/01-Counts_per_sample/01-Raw/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'symlink',
      pattern: '*.raw.tsv'
    ]
  }
  withName: 'RPM' {
    publishDir = [
      path: { "${params.outdir}/02-Results/01-Counts_per_sample/02-RPM/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'symlink',
      pattern: '*.rpm.tsv'
    ]
  }
  withName: 'COUNTS_MATRIX' {
    publishDir = [
      [
        path: { "${params.outdir}/02-Results/02-Counts_matrix/01-Raw/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
        mode: 'symlink',
        pattern: "*.raw.tsv"
      ],
      [
        path: { "${params.outdir}/02-Results/02-Counts_matrix/02-RPM/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
        mode: 'symlink',
        pattern: "*.rpm.tsv"
      ]
    ]
  }
  withName: 'DIFFEXPANALYSIS' {
    publishDir = [
      [
        path: { "${params.outdir}/02-Results/03-DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}/${meta.id}" },
        mode: 'symlink',
        pattern: "DEA/*_raw*.tsv"
      ],
      [
        path: { "${params.outdir}/02-Results/03-DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}/${meta.id}" },
        mode: 'symlink',
        pattern: "DEA/*_sig*.tsv"
      ],
      [
        path: { "${params.outdir}/02-Results/03-DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}/${meta.id}" },
        mode: 'symlink',
        pattern: "Exploratory_analysis/*.ea_summary.tsv"
      ],
      [
        path: { "${params.outdir}/02-Results/03-DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}/${meta.id}" },
        mode: 'symlink',
        pattern: "DEA/*.dea_summary.tsv"
      ],
      [
        path: { "${params.outdir}/02-Results/03-DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}/${meta.id}" },
        mode: 'symlink',
        pattern: "Exploratory_analysis/01-PCA"
      ],
      [
        path: { "${params.outdir}/02-Results/03-DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}/${meta.id}" },
        mode: 'symlink',
        pattern: "Exploratory_analysis/02-Mean_vs_variance"
      ],
      [
        path: { "${params.outdir}/02-Results/03-DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}/${meta.id}" },
        mode: 'symlink',
        pattern: "DEA/*.volcano.png"
      ]
    ]
  }
  withName: 'BOWTIE_ALIGN_NONTEMPLATED' {
      ext.ref = 'genome_nt'
      ext.args = { params.bowtie_nti_ext_args ?: '-f -v 0' }
  }
  withName: 'DOWNLOAD_DB' {
    publishDir = [
      [
        path: { "${params.outdir}/00-Additional_data/01-Databases" },
        mode: 'symlink',
        pattern: "01-Mod_databases/miRBase/*_mature.fa"
      ],
      [
        path: { "${params.outdir}/00-Additional_data/01-Databases" },
        mode: 'symlink',
        pattern: "01-Mod_databases/miRBase/*_hairpin.fa"
      ],
      [
        path: { "${params.outdir}/00-Additional_data/01-Databases" },
        mode: 'symlink',
        pattern: "01-Mod_databases/sRNAanno/*_mature.fa"
      ],
      [
        path: { "${params.outdir}/00-Additional_data/01-Databases" },
        mode: 'symlink',
        pattern: "01-Mod_databases/sRNAanno/*_hairpin.fa"
      ],
      [
        path: { "${params.outdir}/00-Additional_data/01-Databases" },
        mode: 'symlink',
        pattern: "01-Mod_databases/PmiREN/*_mature.fa"
      ],
      [
        path: { "${params.outdir}/00-Additional_data/01-Databases" },
        mode: 'symlink',
        pattern: "01-Mod_databases/PmiREN/*_hairpin.fa"
      ],
      [
        path: { "${params.outdir}/00-Additional_data/01-Databases" },
        mode: 'symlink',
        pattern: "species_ids.csv"  
      ]
    ]
  }
  withName: 'SEQKIT_RMDUP' {
    ext.args = '-s -P'
  }
  withName: 'BLAST_MAKEBLASTDB' {
    ext.args = '-dbtype nucl'
  }
  withName: '.*ISOMIRS_IDENTIFICATION:COMPLETE_BLASTN_MATURE:BLAST_BLASTN' {
    ext.args = '-task blastn-short -outfmt 6 -word_size 13 -gapopen 5 -gapextend 2 -strand plus -evalue 0.01'
    publishDir = [
      path: { "${params.outdir}/02-Results/04-Annotation/01-BLAST/01-Mature_miRNA/${meta.species.replaceAll(' ', '_')}/${meta.project}"},
      mode: 'symlink',
      pattern: "*.txt"
    ]
  }
  withName: '.*ISOMIRS_IDENTIFICATION:COMPLETE_BLASTN_PRECURSOR:BLAST_BLASTN' {
    ext.args = '-task blastn-short -outfmt 6 -word_size 13 -gapopen 5 -gapextend 2 -strand plus -evalue 0.01'
    publishDir = [
      path: { "${params.outdir}/02-Results/04-Annotation/01-BLAST/01-Precursor_miRNA/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'symlink',
      pattern: "*.txt"
    ]
  }
  withName: 'MERGE_AND_FILTER_MATURE_PRECURSOR_BLAST' {
    publishDir = [
      path: { "${params.outdir}/02-Results/04-Annotation/01-BLAST/03-Mature_and_precursor/${meta.species.replaceAll(' ', '_')}/${meta.project}"},
      mode: 'symlink',
      pattern: "*mpblast.tsv"
    ]
  }
  withName: 'ISOMIRS_MIRNA_CLASSIFICATION' {
    publishDir = [
      path: { "${params.outdir}/02-Results/04-Annotation/02-miRNA_annotation/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
      mode: 'symlink',
      pattern: "*.gff3"
    ]
  }
  withName: 'ANNOTATE_DEA_RESULTS' {
    publishDir = [
      [
        path: { "${params.outdir}/02-Results/04-Annotation/03-miRNA_annotation_DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
        mode: 'symlink',
        pattern: "*.all.tsv"
      ],
      [
        path: { "${params.outdir}/02-Results/04-Annotation/03-miRNA_annotation_DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
        mode: 'symlink',
        pattern: "*.unique.tsv"
      ],
      [
        path: { "${params.outdir}/02-Results/04-Annotation/03-miRNA_annotation_DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}" },
        mode: 'symlink',
        pattern: "*.boxplot*"
      ],
      [
        path: { "${params.outdir}/02-Results/04-Annotation/03-miRNA_annotation_DEA/${meta.species.replaceAll(' ', '_')}/${meta.project}"},
        mode: 'symlink',
        pattern: "*.summary.tsv"
      ]
    ]
  }
  withName: 'BUILD_MIRNA_EVENT_MATRIX' {
    publishDir = [
      path: { "${params.outdir}/02-Results/05-Global_matrices" },
      mode: 'symlink',
      pattern: "*.tsv"
    ]
  }
}
