/*
========================================================================================
    miRNote-nf Config File
========================================================================================
    Main config
----------------------------------------------------------------------------------------
*/

// Main Parameters
params {

  // Databases preference
  databases                    = 'mirbase,pmiren,srnaanno'

  // Raw counts and RPM filter
  counts                       = 0
  rpm                          = 0

  // IsomiR variants criteria
  substitutions                = 1
  five_add                     = 0
  three_add                    = 3
  ends_modification            = 4
}
